<h1>New Division</h1>

<form action="/wizard_divide" method="get">
  <label for="form_first_number">
    Divide this:
  </label>
  <input id="form_first_number" name="first_num" type="text" required>

  <label for="form_second_number">
    By this:
  </label>
  <input id="form_second_number" name="second_num" type="text" required>

  <button type="submit">
    Divide!
  </button>
</form>

