<h1>New Subtraction</h1>

<form action="/wizard_subtract" method="get">
  <label for="form_first_number">
    Subtract this:
  </label>
  <input id="form_first_number" name="first_num" type="text" required>

  <label for="form_second_number">
    From this:
  </label>
  <input id="form_second_number" name="second_num" type="text" required>

  <button type="submit">
    Subtract!
  </button>
</form>

